<div class="sidebar-card profile">
    <div class="profile">
      
        <a class="silent-link" href="{{ site.data.user.profile_link }}" | absolute_url }}">
            <h1 class="user-name silent-link">EXIT</h1>
        </a>
</div>
  <div class="sidebar-link-box profile">
      <a href="/pages/articles">Permontes</a>
      <a href="/pages/journal">Enoptrics</a>
      <a href="/pages/all-wiki">Omniferi</a>
      <a href="/pages/daily">Inconditae</a>
    </div>
      <div class="sidebar-link-box profile">
      <a href="/pages/latest">Novae</a>
      <a href="/pages/archive">Arkhein</a>
      <a href="/pages/library">Myelos</a>
      <a href="/ring">Sechim</a>

    </div>
  </div>